client

proto {{ openvpn_proto }}

{% for host in groups['lab-servers'] %}
remote {{ hostvars[host]['ansible_host'] }} {{ openvpn_port }} 
{% endfor %}

dev tun

nobind							
remote-cert-tls	server				

{% if openvpn_tls_push %}
tls-auth	{{ openvpn_keydir }}/ta.key 1		
{% endif %}

ca     {{ openvpn_keydir }}/ca.crt
cert   {{ openvpn_keydir }}/{{ inventory_hostname }}.crt
key    {{ openvpn_keydir }}/{{ inventory_hostname }}.key

daemon
log-append /var/log/openvpn.log

comp-lzo

script-security 2
up /etc/openvpn/update-resolv-conf
down /etc/openvpn/update-resolv-conf
